/* Login.css */
/* Vous pouvez personnaliser ces styles en fonction de vos besoins */

body,
html {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.bg-gray-100 {
  background-color: #f7fafc;
}

.bg-white {
  background-color: #ffffff;
}

.text-2xl {
  font-size: 1.5rem;
}

.font-semibold {
  font-weight: 600;
}

.mb-4 {
  margin-bottom: 1rem;
}

.text-sm {
  font-size: 0.875rem;
}

.font-medium {
  font-weight: 500;
}

.p-8 {
  padding: 2rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.border {
  border-width: 1px;
}

.rounded-md {
  border-radius: 0.375rem;
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.focus\:border-blue-500:focus {
  border-color: #4299e1;
}

.w-full {
  width: 100%;
}

.p-2 {
  padding: 0.5rem;
}

.hover\:bg-blue-600:hover {
  background-color: #2563eb;
}

.transition {
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
}

/* Styles spécifiques à l'image */
/* Réglez la hauteur selon vos besoins */
/*Anciennement
.w-1/2 {
  width: 50%;
}*/
.w-demi {
  width: 50%;
}

.h-screen {
  height: 100vh;
}

.background-image {
  background-image: url("../../public/images/backgroundLogo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
